In [ ]:
from pyspark.sql import SparkSession
from shared.spark_config import create_spark_config

from libs.configuration import configure

env = configure()
conf = create_spark_config("M2_Processors.aircraft.ddl")

In [ ]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [ ]:
spark.sql("USE dev").show()

In [ ]:
spark.sql("DROP TABLE dev.raw.aircrafts PURGE").show()

In [ ]:
spark.sql("""
CREATE TABLE IF NOT EXISTS dev.raw.aircrafts (
    created_ts timestamp,
    icao24 string,
    registration string,
    manufacturericao string,
    model string,
    typecode string,
    serialnumber string,
    operator string,
    operatorcallsign string,
    operatoricao string,
    operatoriata string,
    owner string,
    registered date,
    reguntil date,
    built date,
    engines string,
    modes boolean,
    adsb boolean,
    acars boolean

)
USING iceberg
""").show()

In [ ]:
spark.sql("DROP TABLE dev.tier1.aircrafts PURGE").show()

In [ ]:
spark.sql("""
CREATE TABLE IF NOT EXISTS dev.tier1.aircrafts (
    created_ts timestamp,
    updated_ts timestamp,
    icao string COMMENT 'ICAO 4 letters',
    classification string COMMENT '',
    category string COMMENT '',
    manufacturers array<string> COMMENT '',
    wing_span float COMMENT 'Wing Span (m)',
    length float COMMENT 'Length (m)',
    height float COMMENT 'Height (m)',
    mtow float COMMENT 'MTOW (t)',
    fuel_capacity float COMMENT 'Fuel Capacity (ltr)',
    maximum_range int COMMENT 'Maximum Range (Nm)',
    capacity_lower_cap int COMMENT 'Persons on Board lower cap',
    capacity_upper_cap int COMMENT 'Persons on Board upper cap',
    take_off_distance float COMMENT 'Take Off Distance (m)',
    landing_distance float COMMENT 'Landing Distance (m)',
    absolute_ceiling float COMMENT 'Absolute Ceiling (x100ft)',
    optimum_ceiling float COMMENT 'Optimum Ceiling (x100ft)',
    maximum_climb_rate float COMMENT 'Maximum Climb Rate (ft/min)'
)
USING iceberg
""").show()