In [2]:
from libs.configuration import configure
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.sql.avro import functions as AF

from shared.spark_config import create_spark_config

env = configure()
conf = create_spark_config("M2_Processors.airline.raw")

In [3]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [4]:
schema = T.StructType(
    [
        T.StructField("id", T.IntegerType(), True),
        T.StructField("name", T.StringType(), True),
        T.StructField("alias", T.StringType(), True),
        T.StructField("iata", T.StringType(), True),
        T.StructField("icao", T.StringType(), True),
        T.StructField("callsign", T.StringType(), True),
        T.StructField("country", T.StringType(), True),
        T.StructField("active", T.StringType(), True),
    ]
)
df = spark.read.csv(
    f"abfss://sampledata@{env.DATASTORAGE_AZURE_ACCOUNTNAME}.dfs.core.windows.net/airlines.csv",
    schema,
    header=False,
    quote='"',
)
df.show()

+---+--------------------+-----+----+----+--------------+--------------+------+
| id|                name|alias|iata|icao|      callsign|       country|active|
+---+--------------------+-----+----+----+--------------+--------------+------+
| -1|             Unknown|   \N|   -| N/A|            \N|            \N|     Y|
|  1|      Private flight|   \N|   -| N/A|          NULL|          NULL|     Y|
|  2|         135 Airways|   \N|NULL| GNL|       GENERAL| United States|     N|
|  3|       1Time Airline|   \N|  1T| RNX|       NEXTIME|  South Africa|     Y|
|  4|2 Sqn No 1 Elemen...|   \N|NULL| WYT|          NULL|United Kingdom|     N|
|  5|     213 Flight Unit|   \N|NULL| TFU|          NULL|        Russia|     N|
|  6|223 Flight Unit S...|   \N|NULL| CHD|CHKALOVSK-AVIA|        Russia|     N|
|  7|   224th Flight Unit|   \N|NULL| TTF|    CARGO UNIT|        Russia|     N|
|  8|         247 Jet Ltd|   \N|NULL| TWF|  CLOUD RUNNER|United Kingdom|     N|
|  9|         3D Aviation|   \N|NULL| SEC|       SECUREX| United States|     N|
| 10|         40-Mile Air|   \N|  Q5| MLA|      MILE-AIR| United States|     Y|
| 11|              4D Air|   \N|NULL| QRT|       QUARTET|      Thailand|     N|
| 12|611897 Alberta Li...|   \N|NULL| THD|         DONUT|        Canada|     N|
| 13|    Ansett Australia|   \N|  AN| AAA|        ANSETT|     Australia|     Y|
| 14|Abacus International|   \N|  1B|NULL|          NULL|     Singapore|     Y|
| 15|     Abelag Aviation|   \N|  W9| AAB|           ABG|       Belgium|     N|
| 16|      Army Air Corps|   \N|NULL| AAC|       ARMYAIR|United Kingdom|     N|
| 17|Aero Aviation Cen...|   \N|NULL| AAD|       SUNRISE|        Canada|     N|
| 18|Aero Servicios Ej...|   \N|NULL| SII|        ASEISA|        Mexico|     N|
| 19|         Aero Biniza|   \N|NULL| BZS|        BINIZA|        Mexico|     N|
+---+--------------------+-----+----+----+--------------+--------------+------+
only showing top 20 rows

In [10]:
df = df.withColumn("created_ts", F.current_timestamp())
df.show()

+---+--------------------+-----+----+----+--------------+--------------+------+--------------------+
| id|                name|alias|iata|icao|      callsign|       country|active|          created_ts|
+---+--------------------+-----+----+----+--------------+--------------+------+--------------------+
| -1|             Unknown|   \N|   -| N/A|            \N|            \N|     Y|2024-01-07 20:22:...|
|  1|      Private flight|   \N|   -| N/A|          NULL|          NULL|     Y|2024-01-07 20:22:...|
|  2|         135 Airways|   \N|NULL| GNL|       GENERAL| United States|     N|2024-01-07 20:22:...|
|  3|       1Time Airline|   \N|  1T| RNX|       NEXTIME|  South Africa|     Y|2024-01-07 20:22:...|
|  4|2 Sqn No 1 Elemen...|   \N|NULL| WYT|          NULL|United Kingdom|     N|2024-01-07 20:22:...|
|  5|     213 Flight Unit|   \N|NULL| TFU|          NULL|        Russia|     N|2024-01-07 20:22:...|
|  6|223 Flight Unit S...|   \N|NULL| CHD|CHKALOVSK-AVIA|        Russia|     N|2024-01-07 20:22:...|
|  7|   224th Flight Unit|   \N|NULL| TTF|    CARGO UNIT|        Russia|     N|2024-01-07 20:22:...|
|  8|         247 Jet Ltd|   \N|NULL| TWF|  CLOUD RUNNER|United Kingdom|     N|2024-01-07 20:22:...|
|  9|         3D Aviation|   \N|NULL| SEC|       SECUREX| United States|     N|2024-01-07 20:22:...|
| 10|         40-Mile Air|   \N|  Q5| MLA|      MILE-AIR| United States|     Y|2024-01-07 20:22:...|
| 11|              4D Air|   \N|NULL| QRT|       QUARTET|      Thailand|     N|2024-01-07 20:22:...|
| 12|611897 Alberta Li...|   \N|NULL| THD|         DONUT|        Canada|     N|2024-01-07 20:22:...|
| 13|    Ansett Australia|   \N|  AN| AAA|        ANSETT|     Australia|     Y|2024-01-07 20:22:...|
| 14|Abacus International|   \N|  1B|NULL|          NULL|     Singapore|     Y|2024-01-07 20:22:...|
| 15|     Abelag Aviation|   \N|  W9| AAB|           ABG|       Belgium|     N|2024-01-07 20:22:...|
| 16|      Army Air Corps|   \N|NULL| AAC|       ARMYAIR|United Kingdom|     N|2024-01-07 20:22:...|
| 17|Aero Aviation Cen...|   \N|NULL| AAD|       SUNRISE|        Canada|     N|2024-01-07 20:22:...|
| 18|Aero Servicios Ej...|   \N|NULL| SII|        ASEISA|        Mexico|     N|2024-01-07 20:22:...|
| 19|         Aero Biniza|   \N|NULL| BZS|        BINIZA|        Mexico|     N|2024-01-07 20:22:...|
+---+--------------------+-----+----+----+--------------+--------------+------+--------------------+
only showing top 20 rows

In [11]:
df.writeTo("dev.raw.airlines").append()